<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
  <script src="bundle.js" defer></script>
</head>

<body>
  <iframe frameborder="0"></iframe>
  <!-- <div id="app">
    <input type="text" v-model="newPageName">
    <button v-on:click="createPage">Создать страницу</button>
    <ol>
      <li v-for="page in pageList">{{ page }} <a href="#" v-on:click="deletePage(page)">(X)</a></li>
    </ol>
  </div> -->

</body>

</html>